body {
    margin: 0;
}

@font-face {
    font-family: 'text-font';
    src: url('../static/text-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'header-font';
    src: url('../static/header-font.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.video-container iframe {
    width: 80%;
    height: 400px;
}
.bordered-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid #0D1B2A; 
}


.header {
    font-family: 'header-font';
   }
.text {
    font-family: 'text-font';
}

.upload {
    background-color: #00CF78;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: #00554B;
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .upload:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  .slider {
    width: 600px;  /* Matches the video width */
    margin-top: 10px;
    cursor: pointer;
    -webkit-appearance: none; /* Remove default webkit styles */
    appearance: none; /* Remove default styling for Firefox and other browsers */
    height: 8px;  /* Track height */
    background: #ddd;  /* Track color */
    border-radius: 5px;
  }

  /* Style for the slider thumb (the draggable part) */
  .slider::-webkit-slider-thumb {
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: #00CF78;  /* Thumb color */
    border-radius: 50%;  /* Round thumb */
    border: none;
    cursor: pointer;
    -webkit-appearance: none; /* Remove default appearance in WebKit browsers */
  }

  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #00CF78;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  /* Optional: Hover effect to make thumb a bit larger */
  .slider:hover::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
  }

  .slider:hover::-moz-range-thumb {
    width: 25px;
    height: 25px;
  }

  